#AlliesTitle{
    -fx-font-size: 30px;
    -fx-font-family: "Dubai Medium";
    -fx-text-fill:#38B6FF;

}
.loginLable{
    -fx-border-color: #38B6FF;

    -fx-background-color: White;
    -fx-font-family: "Segoe UI Black";
    -fx-font-weight: bold;
}
#loadFileButton{

    -fx-border-color: #38B6FF;

    -fx-background-color: White;
    -fx-font-family: "Segoe UI Black";
    -fx-font-weight: bold;
}
#vboxLoadFile{
    -fx-background-image: url(Enigma.jpg);
}

.title-tab{

    -fx-font-size: 14px;
    -fx-font-family: "Dubai";
    -fx-background-color: White;
    -fx-border-color: Gray;
}

.tab-header-background {
    -fx-background-color: White;
}

.Ready{
    -fx-border-radius: 30px;
    -fx-border-color: BLACK;
    -fx-background-color: WHITE;
    -fx-font-size: 14px;
    -fx-font-family: "Segoe UI Black";
    -fx-font-weight: bold;
    -fx-text-fill: #36c72a;
}
.title-label{
    -fx-font-size: 12px;
    -fx-text-fill: Black;
    -fx-font-family: "Segoe UI Black";
    -fx-font-weight: bold;
}
.contest-title{
    -fx-font-size: 12px;
    -fx-text-fill: Black;
    -fx-font-family: "Segoe UI Black";
    -fx-font-weight: bold;
    -fx-text-fill:#38B6FF;
}
.vbox-details{
    -fx-background-color: White;
    -fx-border-radius: 20px;
    -fx-border-color: #38B6FF;
    -fx-border-width: 1.5;
}