

.vbox-total-time{
    -fx-background-color: White;
    -fx-border-radius: 20px;
    -fx-border-color: #38B6FF;
}
.flow-pane{
    -fx-background-color: White;
}

.title-label{
    -fx-font-size: 12px;
    -fx-text-fill: #38B6FF;
    -fx-font-family: "Segoe UI Black";
    -fx-font-weight: bold;
}
.title-win{
    -fx-font-size: 12px;
    -fx-text-fill: #38B6FF;
    -fx-font-family: "Segoe UI Black";
    -fx-font-weight: bold;
    -fx-text-fill: RED;
}